<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Project 2</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&family=Edu+QLD+Beginner:wght@400;500;700&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    </head>
    <body>
        <div class="heading">
            <img src="/static/images/icon/download.png" alt="">

            <div>
                <h1>The Body Shop Collection</h1>
                    <nav>
                        <a href="#diffuser" class="link l1">Oil Diffuser</a>
                        <a href="#oil" class="link l2">Essential Oil</a>
                        <a href="http://potatoanywhere.pythonanywhere.com/shopping_cart" class="link l3">Shopping Cart</a>
                        <a href="http://potatoanywhere.pythonanywhere.com/account" class="link l4">Account</a>
                    </nav>
            </div>
        </div>




        <div class="stage">
            <div class="slide-wrapper">
                <div class="slide s1">
                    <p>Today Only! <strong>$5.99 INTO THE NIGHT OF ESSENTIAL OIL</strong></p>
                </div>
            </div>
        </div>

        <div class="intro-img">
            <img src="/static/images/photo.png" alt="">
            <p>A 100% natural, unique dry oil that nourishes the skin. Enrich with nourishing herbs, specifically put together according to the Ayurvedic tradition for the Vata Dosha. With nourishing sweet almond oil and basil.</p>
        </div>

        <div class="sub-intro">
            <div class="d1">
                <img src="/static/images/istockphoto-585048326-612x612.jpeg" alt="">
                <p>Unique blend containing antioxidants, vitamin E, and the ingredient Centella asiatica.</p>
            </div>
            <div class="d2">
                <h3>Strengthen  Your Skin</h3>
                <p>
                    Special technologies makes this whipped cream easy to apply while its rich and velvety formulation nourishes your skin.
                </p>
                <p>
                    Enriched with nourishing rice milk and flowery fragrance of cherry blossom.
                </p>
            </div>

        </div>


        <div class="product-container">
            <h3 id="diffuser">Aromatherapy Essential Oil Diffuser</h3>
            <hr>
            <div class="product-wrapper">
                <div class="product p1">
                    <img src="/static/images/stone1.jpg" alt="">
                    <h3>Bathing Cat</h3>
                    <p><strong>Stone Diffuser of Bathing Cat</strong></p>
                    <p>$15.75</p>

                    <a href="#stone-cat" class="text-decoration-none">
                        <button type="button" class="p1-button">VIEW MORE</button>
<!--                        <div class="hidden hid1">ADD TO SHOPPING CART</div>-->
                    </a>

                </div>

                <div class="product p2">
                    <img src="/static/images/stone2.jpg" alt="">
                    <h3>Bathing Monkey</h3>
                    <p><strong>Stone Diffuser of Bathing Monkey</strong></p>
                    <p>$15.75</p>
                    <a href="#stone-monkey" class="text-decoration-none">
                        <button type="button" class="p2-button">VIEW MORE</button>
<!--                        <div class="hidden hid2">ADD TO SHOPPING CART</div>-->
                    </a>
                </div>

                <div class="product p3">
                    <img src="/static/images/stone3.jpg" alt="">
                    <h3>Bathing Capybara</h3>
                    <p><strong>Stone Diffuser of Bathing Capybara</strong></p>
                    <p>$15.75</p>
                    <a href="#stone-capybara" class="text-decoration-none">
                        <button type="button" class="p3-button">VIEW MORE</button>
<!--                        <div class="hidden hid3">ADD TO SHOPPING CART</div>-->
                    </a>
                </div>

            </div>

        </div>



        <div class="product-container">
            <h3 id="oil">Essential Oil</h3>
            <hr>
            <div class="product-wrapper">
                <div class="product p1">
                    <img src="/static/images/essential-oil1.jpg" alt="">
                    <h3>Grape Fruit</h3>
                    <p><strong>Essential Oil of Grape Fruit</strong></p>
                    <p>$19.98</p>

                    <a href="#grapefruit" class="text-decoration-none">
                        <button type="button" class="p1-button">VIEW MORE</button>
<!--                        <div class="hidden hid1">ADD TO SHOPPING CART</div>-->
                    </a>

                </div>

                <div class="product p2">
                    <img src="/static/images/essential-oil2.jpg" alt="">
                    <h3>Lavender</h3>
                    <p><strong>Essential Oil of Lavender</strong></p>
                    <p>$19.98</p>
                    <a href="#lavender" class="text-decoration-none">
                        <button type="button" class="p2-button">VIEW MORE</button>
<!--                        <div class="hidden hid2">ADD TO SHOPPING CART</div>-->
                    </a>
                </div>

                <div class="product p3">
                    <img src="/static/images/essential-oil3.jpg" alt="">
                    <h3>Rosemary</h3>
                    <p><strong>Essential Oil of Rosemary</strong></p>
                    <p>$19.98</p>
                    <a href="#rosemary" class="text-decoration-none">
                        <button type="button" class="p3-button">VIEW MORE</button>
<!--                        <div class="hidden hid3">ADD TO SHOPPING CART</div>-->
                    </a>
                </div>

            </div>

        </div>




        <div class="mdlwindow" id="stone-cat">
            <div class="msgbox">
                <a href="#diffuser"><button>&times;</button></a>

                <div class="product-intro">
                    <figure>
                        <img src="/static/images/stone1.jpg" alt="">
                    </figure>
                    <div>
                        <h3>Stone Diffuser of Bathing Cat</h3>
                        <table>
                            <tr>
                                <td><strong>Brand</strong></td>
                                <td>Terra Distribution</td>
                            </tr>
                            <tr>
                                <td><strong>Material</strong></td>
                                <td>Ceramic, Stone</td>
                            </tr>
                            <tr>
                                <td><strong>Item Dimension</strong></td>
                                <td>2.3 x 2.3 x 2.5 inches</td>
                            </tr>
                        </table>
                        <p class="price">$15.75</p>
                    </div>
                </div>

                <div class="product-detail-wrapper">
                    <div class="product-detail">
                        <p>Aroma Ceramic Stone Diffuser [Japan Import] Aromatherapy Essential Oil Diffuser, Non Electric, Passive, Unique, Cute, Animal, Design for Women, Men, and Gifts (Bathing Cat)</p>
                        <hr>
                        <a href="http://potatoanywhere.pythonanywhere.com/checkout/p1"><button>Order Now</button></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="mdlwindow" id="stone-monkey">
            <div class="msgbox">
                <a href="#diffuser"><button>&times;</button></a>
                <div class="product-intro">
                    <figure>
                        <img src="/static/images/stone2.jpg" alt="">
                    </figure>
                    <div>
                        <h3>Stone Diffuser of Bathing Monkey</h3>
                        <table>
                            <tr>
                                <td><strong>Brand</strong></td>
                                <td>Terra Distribution</td>
                            </tr>
                            <tr>
                                <td><strong>Material</strong></td>
                                <td>Ceramic, Stone</td>
                            </tr>
                            <tr>
                                <td><strong>Item Dimension</strong></td>
                                <td>2.3 x 2.3 x 2.5 inches</td>
                            </tr>
                        </table>
                        <p class="price">$15.75</p>
                    </div>
                </div>

                <div class="product-detail-wrapper">
                    <div class="product-detail">
                        <p>Aroma Ceramic Stone Diffuser [Japan Import] Aromatherapy Essential Oil Diffuser, Non Electric, Passive, Unique, Cute, Animal, Design for Women, Men, and Gifts (Bathing Monkey)</p>
                        <hr>
                        <a href="http://potatoanywhere.pythonanywhere.com/checkout/p2"><button>Order Now</button></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="mdlwindow" id="stone-capybara">
            <div class="msgbox">
                <a href="#diffuser"><button>&times;</button></a>
                <div class="product-intro">
                    <figure>
                        <img src="/static/images/stone3.jpg" alt="">
                    </figure>
                    <div>
                        <h3>Stone Diffuser of Bathing Capybara</h3>
                        <table>
                            <tr>
                                <td><strong>Brand</strong></td>
                                <td>Terra Distribution</td>
                            </tr>
                            <tr>
                                <td><strong>Material</strong></td>
                                <td>Ceramic, Stone</td>
                            </tr>
                            <tr>
                                <td><strong>Item Dimension</strong></td>
                                <td>2.3 x 2.3 x 2.5 inches</td>
                            </tr>
                        </table>
                        <p class="price">$15.75</p>
                    </div>
                </div>

                <div class="product-detail-wrapper">
                    <div class="product-detail">
                        <p>Aroma Ceramic Stone Diffuser [Japan Import] Aromatherapy Essential Oil Diffuser, Non Electric, Passive, Unique, Cute, Animal, Design for Women, Men, and Gifts (Bathing Capybara)</p>
                        <hr>
                        <a href="http://potatoanywhere.pythonanywhere.com/checkout/p3"><button>Order Now</button></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="mdlwindow" id="grapefruit">
            <div class="msgbox">
                <a href="#oil"><button>&times;</button></a>
                <div class="product-intro">
                    <figure>
                        <img src="/static/images/essential-oil1.jpg" alt="">
                    </figure>
                    <div>
                        <h3>Grape Fruit</h3>
                        <table>
                            <tr>
                                <td><strong>Brand</strong></td>
                                <td>Brooklyn Botany</td>
                            </tr>
                            <tr>
                                <td><strong>Scent</strong></td>
                                <td>Grape Fruit</td>
                            </tr>
                            <tr>
                                <td><strong>Item Form</strong></td>
                                <td>Oil</td>
                            </tr>
                            <tr>
                                <td><strong>Liquid Volume</strong></td>
                                <td>4 Fluid Ounces</td>
                            </tr>
                            <tr>
                                <td><strong>Material Feature</strong></td>
                                <td>All Natural,Natural</td>
                            </tr>
                        </table>
                        <p class="price">$19.98</p>
                    </div>
                </div>

                <div class="product-detail-wrapper">
                    <div class="product-detail">
                        <p>Brooklyn Botany Rosemary Essential Oil – 100% Pure and Natural – Therapeutic Grade Essential Oil with Dropper - Rosemary Oil for Aromatherapy and Diffuser - 4 Fl. OZ</p>
                        <hr>
                        <a href="http://potatoanywhere.pythonanywhere.com/checkout/p4"><button>Order Now</button></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="mdlwindow" id="lavender">
            <div class="msgbox">
                <a href="#oil"><button>&times;</button></a>
                <div class="product-intro">
                    <figure>
                        <img src="/static/images/essential-oil2.jpg" alt="">
                    </figure>
                    <div>
                        <h3>Lavender</h3>
                        <table>
                            <tr>
                                <td><strong>Brand</strong></td>
                                <td>Brooklyn Botany</td>
                            </tr>
                            <tr>
                                <td><strong>Scent</strong></td>
                                <td>Lavender</td>
                            </tr>
                            <tr>
                                <td><strong>Item Form</strong></td>
                                <td>Oil</td>
                            </tr>
                            <tr>
                                <td><strong>Liquid Volume</strong></td>
                                <td>4 Fluid Ounces</td>
                            </tr>
                            <tr>
                                <td><strong>Material Feature</strong></td>
                                <td>All Natural,Natural</td>
                            </tr>
                        </table>
                        <p class="price">$19.98</p>
                    </div>
                </div>

                <div class="product-detail-wrapper">
                    <div class="product-detail">
                        <p>Brooklyn Botany Lavender Essential Oil – 100% Pure and Natural – Therapeutic Grade Essential Oil with Dropper - Lavender Oil for Aromatherapy and Diffuser - 4 Fl. OZ</p>
                        <hr>
                        <a href="http://potatoanywhere.pythonanywhere.com/checkout/p5"><button>Order Now</button></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="mdlwindow" id="rosemary">
            <div class="msgbox">
                <a href="#oil"><button>&times;</button></a>
                <div class="product-intro">
                    <figure>
                        <img src="/static/images/essential-oil3.jpg" alt="">
                    </figure>
                    <div>
                        <h3>Rosemary</h3>
                        <table>
                            <tr>
                                <td><strong>Brand</strong></td>
                                <td>Brooklyn Botany</td>
                            </tr>
                            <tr>
                                <td><strong>Scent</strong></td>
                                <td>Rosemary</td>
                            </tr>
                            <tr>
                                <td><strong>Item Form</strong></td>
                                <td>Oil</td>
                            </tr>
                            <tr>
                                <td><strong>Liquid Volume</strong></td>
                                <td>4 Fluid Ounces</td>
                            </tr>
                            <tr>
                                <td><strong>Material Feature</strong></td>
                                <td>All Natural,Natural</td>
                            </tr>
                        </table>
                        <p class="price">$19.98</p>
                    </div>
                </div>

                <div class="product-detail-wrapper">
                    <div class="product-detail">
                        <p>Brooklyn Botany Rosemary Essential Oil – 100% Pure and Natural – Therapeutic Grade Essential Oil with Dropper - Rosemary Oil for Aromatherapy and Diffuser - 4 Fl. OZ</p>
                        <hr>
                        <a href="http://potatoanywhere.pythonanywhere.com/checkout/p6"><button>Order Now</button></a>
                    </div>
                </div>
            </div>

        </div>

        <br><br>

        <footer>
            <div class="service-wrapper">

                <div class="service ser1">
                    <p><strong>Help</strong></p>
                    <span>Customer Service</span><br/>
                    <span>Live Chat</span>
                </div>

                <div class="service ser2">
                    <p><strong>ACCOUNT</strong></p>
                    <span>Your Account</span><br/>
                    <span>Order Status</span>
                </div>

                <div class="service ser3">
                    <p><strong>SUBSCRIBE</strong></p>
                    <span>Emails</span><br/>
                    <span>Store Offer and Events</span>
                </div>

                <div class="service ser4">
                    <p><strong>THE MEMBER CARD</strong></p>
                    <span>Learn More</span><br/>
                    <span>Pay My Bill</span>
                </div>
            </div>

            <hr>
            <div class="footer-link">
                <div class="social-media-container">
                    <div class="social-media-paragraph">
                        <p><strong>CONNECT WITH THE BODY SHOP COLLECTION</strong></p>
                    </div>
                    <div class="social-media-wrapper">
                        <a href="#"><img src="/static/images/icon/facebook.png" alt=""></a>
                        <a href="#"><img src="/static/images/icon/instagram.png" alt=""></a>
                        <a href="#"><img src="/static/images/icon/pinterest.png" alt=""></a>
                        <a href="#"><img src="/static/images/icon/twitter.png" alt=""></a>
                        <a href="#"><img src="/static/images/icon/youtube.png" alt=""></a>
                    </div>
                </div>

                <div class="copy-right">
                    <p>@ 2022 The Body Shop Collection by Tong Lin All Rights Reserved</p>
                    <p><strong>Note</strong>: This webpage is a template to create a sale website. All information and materials used are for ONLY educational purposes</p>
                </div>
            </div>




        </footer>
        <script src="/static/script.js"></script>
    </body>
</html>